<html>
    <head>
        <title>Hello first Django pord!</title>
    </head>
    <body>
        <dive>
            <h1><a href="">First level heading!</a></h1>
        </dive>
        <dive>
            <p>First post:</p>
            <h2><a href="">This is my first Django project</a></h2>
            <p>DATE: 02.07.2022 14:17</p>
        </dive>
        <dive>
            <p>Second post:</p>
            <h2><a href="">This is my first Django project!</a></h2>
            <p>DATE: 02.07.2022 14:18</p>
        </dive>
    </body>
</html>